* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

#game {
  margin: 50% auto;
  min-height: 100vh;
}

#grid {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: calc(100% / 3);
  border: 1px solid black;
  height: calc(100% / 3);
  text-align: center;
  line-height: calc(400px / 3);
  font-size: 40px;
  font-weight: bold;
}

.winner {
  width: 50%;
  /* border: 1px solid black; */
  margin: 40px auto;
  text-align: center;
}

.winner h3 {
  font-size: 24px;
  margin: 20px 0;
}

button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: lightgreen;
  color: slategray;
  font-size: large;
}

button:hover {
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
