<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Vue JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css" />
    <title>Tic Tac Toe</title>
  </head>
  <body>
    <div id="container">
      <main id="game">
        <section id="grid">
          <div
            class="cell"
            v-for="(celle, indice) in grid"
            @click="clickCell(celle , indice)"
            :key="celle"
          >
            {{celle}}
          </div>
        </section>
        <div v-if="endGame === true">
          <button @click="newGame()">Play Again</button>
          <div v-if="displayWinner === 'X'" class="winner">
            <h3>The winner is X</h3>
          </div>
          <div v-else-if="displayWinner === 'O'" class="winner">
            <h3>The winner is O</h3>
          </div>
          <div v-else-if="displayWinner === 'draw'" class="winner">
            <h3>It's a draw</h3>
          </div>
        </div>
      </main>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
